body {
    background-color: antiquewhite;
}

#content {
    width: 400px;
    height: 300px;
    border: 0.5px solid black;
    border-radius: 20px;
    display: block;
    margin: 150px auto;
    text-align: center;
    background-color: white;
}

h1 {
    margin: 80px auto;
}

#pop-up {
    display: none;
}


